In [1]:
import pandas as pd
import numpy as np

In [2]:
def CNPJ_BASICO(x):
    if '*' not in x:
        resp=int(x[:8])
    else:
        resp=np.nan
    return(resp)

def CNPJ_DV(x):
    if '*' not in x:
        resp=int(x[-2:])
    else:
        resp=np.nan
    return(resp)

def telefones(col1, col2, col3, col4, col5, col6):
    try:
        if col1==0:
            a=''
        else:
            a="("+str(int(col1))+") "+str(int(col2))
    except:
        a="("+str(int(col1))+") "+str((col2))
    try:
        if col3==0:
            b=''
        else:
            b="("+str(int(col3))+") "+str(int(col4))
    except:
        b="("+str(int(col3))+") "+str((col4))
    try:
        if col5==0:
            c=''
        else:
            c="("+str(int(col5))+") "+str(int(col6))
    except:
        c="("+str(int(col5))+") "+str((col6))
    return(a+'/'+b+'/'+c)

def acentuacao(x):
    from unicodedata import normalize
    source = x
    target = normalize('NFKD', source).encode('ASCII','ignore').decode('ASCII')
    return(target)

In [19]:
#Dados gerais
df_geral=pd.read_csv('..\CFEM_Arrecadacao.csv',sep=';',encoding = "ISO-8859-1")
df_geral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583686 entries, 0 to 1583685
Data columns (total 12 columns):
Ano                         1583686 non-null int64
Mês                         1583686 non-null int64
Processo                    1478466 non-null float64
AnoDoProcesso               1478466 non-null float64
Tipo_PF_PJ                  1583686 non-null object
CPF_CNPJ                    1583600 non-null object
Substância                  1583686 non-null object
UF                          1582134 non-null object
Município                   1582134 non-null object
QuantidadeComercializada    1568646 non-null object
UnidadeDeMedida             1582981 non-null object
ValorRecolhido              1583686 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 145.0+ MB

In [20]:
#Dados da Operação
df_operacao=pd.read_pickle('df_operacao_atual_25_5_21_nomes_corretos.pickle')
df_operacao.info()
df_operacao.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143489 entries, 0 to 143488
Data columns (total 17 columns):
% Recolhimento_CFEM    143489 non-null object
Ano                    143489 non-null int64
CNPJ/CPF               143489 non-null object
CPF_CNPJ               143489 non-null object
Estados                143489 non-null object
Município              143489 non-null object
Nome Empresa           143489 non-null object
Operacao               143489 non-null object
Recolhimento_CFEM      143489 non-null object
Região                 143489 non-null object
Subgrupo               143489 non-null object
Substância             143489 non-null object
Tipo_PF_PJ             143489 non-null object
UF                     143489 non-null object
ValorRecolhido2        125853 non-null float64
ValorRecolhido3        125853 non-null object
nome_correto           143489 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 19.7+ MB

% Recolhimento_CFEM      1693
Ano                        18
CNPJ/CPF                15692
CPF_CNPJ                15692
Estados                    27
Município                3495
Nome Empresa            16051
Operacao               119418
Recolhimento_CFEM      125668
Região                      5
Subgrupo                  110
Substância                305
Tipo_PF_PJ                  1
UF                         27
ValorRecolhido2        113112
ValorRecolhido3        109666
nome_correto            15293
dtype: int64

In [21]:
#Dados CNPJ Basico
df_cnpj=pd.read_pickle('razão_social_cnpjs_busca_25_5_21.pickle')
df_cnpj.nunique()

CNPJ BÁSICO          15099
RAZÃO SOCIAL         14938
NATUREZA JURÍDICA       27
RESPONSÁVEL             15
CAPITAL SOCIAL        1948
PORTE DA EMPRESA         3
ENTE FEDERATIVO        112
dtype: int64

In [22]:
#Dados CNPJ Completos
df_cnpj_completo=pd.read_pickle('dados_completos_cnpjs_b_25_5_21.pickle')
df_cnpj_completo=df_cnpj_completo.fillna(0)
df_cnpj_completo['Telefones']=df_cnpj_completo.apply(lambda x: telefones(x['DDD 1'], x['TELEFONE 1'], x['DDD 2'], x['TELEFONE 2'], x['DDD DO FAX'], x['FAX']), axis=1)
df_cnpj_completo.nunique()

CNPJ BÁSICO                  15099
CNPJ ORDEM                     742
CNPJ DV                        100
MATRIZ/FILIAL                    2
NOME FANTASIA                13734
SITUAÇÃO CADASTRAL               5
DATA SITUAÇÃO                 6749
SITUAÇÃO_CADASTRA               28
NOME DA CIDADE EX               26
PAIS                            22
INÍCIO ATIVIDADE             11680
CNAE FISCAL PRINCIPAL          660
CNAE FISCAL SEC               9390
TIPO DE LOGRADOURO             132
LOGRADOURO                   26509
NÚMERO                        4525
COMPLEMENTO                  12437
BAIRRO                       11166
CEP                          14167
UF                              28
MUNICÍPIO                     3802
DDD 1                          144
TELEFONE 1                   17022
DDD 2                           71
TELEFONE 2                    5612
DDD DO FAX                     106
FAX                           7961
CORREIO ELETRÔNICO           10494
SITUAÇÃO ESPECIAL                2
DATA DA SITUAÇÃO ESPECIAL        2
Telefones                    18773
dtype: int64

<h2>Entidades</h2>

Tipo_PF_PJ<br>
OPERAÇÃO<br>
CFEM<br>
NOME EMPRESA<br>
SUBSTÂNCIA<br> 
SUBGRUPO<br>
ANO CFEM<br>
MES CFEM<br>
BAIRRO<br>
MUNICIPIO CFEM<br>
ESTADO CFEM<br>
REGIÃO CFEM<br>
MUNICIPIO EMPRESA<br>
ESTADO EMPRESA<br>
REGIÃO EMPRESA<br>
MATRIZ/FILIAL<br>
NOME FANTASIA<br>
CNAE FISCAL PRINCIPAL<br>
CNAE FISCAL SEC<br>
NATUREZA JURÍDICA<br>
RESPONSÁVEL<br>
CAPITAL SOCIAL<br>
PORTE DA EMPRESA<br>
PAIS<br>

In [23]:
#df_cnpj_completo

<h2>Montagem de Tabelas</h2>

In [24]:
#METADADOS
lista_nomes=['DDCFEM', 'DDOP', 'DDCNPJ']
lista_links=['https://app.anm.gov.br/DadosAbertos/ARRECADACAO/', 'https://sistemas.anm.gov.br/arrecadacao/extra/relatorios/cfem/maiores_arrecadadores.aspx', 'https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj']
lista_datas=['24/05/2021','24/05/2021','08/05/2021']
df_metadados=pd.DataFrame([])
df_metadados['PK_METADADOS']=lista_nomes
df_metadados['LINKS']=lista_links
df_metadados['DATA']=lista_datas
df_metadados.to_pickle('df_metadados[.pickle')
df_metadados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
PK_METADADOS    3 non-null object
LINKS           3 non-null object
DATA            3 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes

In [25]:
#TIPOS PJ PF
df_tipos=pd.DataFrame([])
lista_tipo_pj=list(df_geral['Tipo_PF_PJ'].unique())
df_tipos['TIPO_PF_PJ']=lista_tipo_pj
df_tipos['FK_METADADOS']='DDCFEM'
df_tipos.to_pickle('dados_tabela/df_tipos_pj_pf.pickle')
df_tipos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
TIPO_PF_PJ      3 non-null object
FK_METADADOS    3 non-null object
dtypes: object(2)
memory usage: 176.0+ bytes

In [26]:
#muda
df_cnpjs_unicos=df_cnpjs_unicos.rename({'PK':'FK_CNPJ'}, axis=1)
df_substancia=df_substancia.rename({'PK':'FK_SUBSTANCIA'}, axis=1)

lista_primary_key=[]
cont=0
for x in range(143489):
    x=str(cont)+'op'
    lista_primary_key.append(x)
    cont+=1
len(lista_primary_key)
#OPERAÇÃO
df_operacao_valores=pd.DataFrame([])
df_operacao_valores['Operacao']=list(df_operacao['Operacao'])
df_operacao_valores['Operacao']=df_operacao_valores['Operacao'].apply(lambda x: float(x.replace('.','').replace(',','.')))
df_operacao_valores['CPF_CNPJ']=list(df_operacao['CPF_CNPJ'])
df_operacao_valores['Substância']=list(df_operacao['Substância'])
df_operacao_valores['Município']=list(df_operacao['Município'])
df_operacao_valores['Município']=df_operacao_valores['Município'].apply(lambda x: acentuacao(x).upper())
df_operacao_valores['UF']=list(df_operacao['UF'])
df_operacao_valores['Ano']=list(df_operacao['Ano'])
df_operacao_valores['PK']=lista_primary_key
df_operacao_valores['FK_METADADOS']='DDOP'
df_operacao_valores=df_operacao_valores.merge(df_cnpjs_unicos[['FK_CNPJ', 'CPF_CNPJ']], on='CPF_CNPJ', how='left')
df_operacao_valores=df_operacao_valores.merge(df_substancia[['FK_SUBSTANCIA', 'Substância']], on='Substância', how='left')
df_operacao_valores=df_operacao_valores.drop(['CPF_CNPJ','Substância'], axis=1)
df_operacao_valores=df_operacao_valores[['PK','Operacao','FK_METADADOS','Ano','FK_CNPJ','FK_SUBSTANCIA','UF','Município']]
#volta
df_cnpjs_unicos=df_cnpjs_unicos.rename({'FK_CNPJ':'PK'})
df_substancia=df_substancia.rename({'FK_SUBSTANCIA':'PK'}, axis=1)
#
df_operacao_valores.info()
df_operacao_valores.to_pickle('dados_tabela/df_valores_operacao.pickle')
df_operacao_valores.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150291 entries, 0 to 150290
Data columns (total 8 columns):
PK               150291 non-null object
Operacao         150291 non-null float64
FK_METADADOS     150291 non-null object
Ano              150291 non-null int64
FK_CNPJ          150291 non-null object
FK_SUBSTANCIA    150291 non-null object
UF               150291 non-null object
Município        150291 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 10.3+ MB

PK               143489
Operacao         119418
FK_METADADOS          1
Ano                  18
FK_CNPJ           15692
FK_SUBSTANCIA       305
UF                   27
Município          3490
dtype: int64

In [ ]:
df_dicMunicipio=df_dicMunicipio.rename({'Município':'MUNICIPIO', 'FK_Municipio':'PK_COD_MUNICIPIO'}, axis=1)

In [36]:
df_operacao_valores.nunique()

PK               143489
Operacao         119418
FK_METADADOS          1
Ano                  18
FK_CNPJ           15692
FK_SUBSTANCIA       305
UF                   27
Município          3490
dtype: int64

In [37]:
df_operacao.columns

Index(['% Recolhimento_CFEM', 'Ano', 'CNPJ/CPF', 'CPF_CNPJ', 'Estados',
       'Município', 'Nome Empresa', 'Operacao', 'Recolhimento_CFEM', 'Região',
       'Subgrupo', 'Substância', 'Tipo_PF_PJ', 'UF', 'ValorRecolhido2',
       'ValorRecolhido3', 'nome_correto'],
      dtype='object')

In [38]:
#muda
df_cnpjs_unicos=df_cnpjs_unicos.rename({'PK':'FK_CNPJ'}, axis=1)
df_substancia=df_substancia.rename({'PK':'FK_SUBSTANCIA'}, axis=1)
#CFEM OPERAÇÃO
lista_primary_key=[]
cont=0
for x in range(143489):
    x=str(cont)+'cfop'
    lista_primary_key.append(x)
    cont+=1
len(lista_primary_key)
df_cfem_op=pd.DataFrame([])
df_cfem_op['CFEM_OPERACAO']=list(df_operacao['Recolhimento_CFEM'])
df_cfem_op['CFEM_OPERACAO(%)']=list(df_operacao['% Recolhimento_CFEM'])
df_cfem_op['CPF_CNPJ']=list(df_operacao['CPF_CNPJ'])
df_cfem_op['Substância']=list(df_operacao['Substância'])
df_cfem_op['CFEM_OPERACAO']=df_cfem_op['CFEM_OPERACAO'].apply(lambda x: float(x.replace('.','').replace(',','.')))
df_cfem_op['FK_METADADOS']='DDOP'
df_cfem_op['PK']=lista_primary_key
df_cfem_op=df_cfem_op.merge(df_cnpjs_unicos[['FK_CNPJ', 'CPF_CNPJ']], on='CPF_CNPJ', how='left')
df_cfem_op=df_cfem_op.merge(df_substancia[['FK_SUBSTANCIA', 'Substância']], on='Substância', how='left')
df_cfem_op=df_cfem_op.drop(['CPF_CNPJ','Substância'], axis=1)
df_cfem_op.to_pickle('dados_tabela/df_cfem_operacao.pickle')
#volta
df_cnpjs_unicos=df_cnpjs_unicos.rename({'FK_CNPJ':'PK'})
df_substancia=df_substancia.rename({'FK_SUBSTANCIA':'PK'}, axis=1)
#
df_cfem_op.info()
df_cfem_op.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150291 entries, 0 to 150290
Data columns (total 6 columns):
CFEM_OPERACAO       150291 non-null float64
CFEM_OPERACAO(%)    150291 non-null object
FK_METADADOS        150291 non-null object
PK                  150291 non-null object
FK_CNPJ             150291 non-null object
FK_SUBSTANCIA       150291 non-null object
dtypes: float64(1), object(5)
memory usage: 8.0+ MB

CFEM_OPERACAO       125668
CFEM_OPERACAO(%)      1693
FK_METADADOS             1
PK                  143489
FK_CNPJ              15692
FK_SUBSTANCIA          305
dtype: int64

In [39]:
df_cfem_op.nunique()

CFEM_OPERACAO       125668
CFEM_OPERACAO(%)      1693
FK_METADADOS             1
PK                  143489
FK_CNPJ              15692
FK_SUBSTANCIA          305
dtype: int64

In [40]:
#CPF E CNPJ
lista_primary_key=[]
cont=0
for x in range(18460):
    x=str(cont)+'pfpj'
    lista_primary_key.append(x)
    cont+=1
df_cnpjs_unicos=pd.DataFrame([])
df_cnpjs_unicos['CPF_CNPJ']=list(df_geral['CPF_CNPJ'].unique())
df_cnpjs_unicos=df_cnpjs_unicos.merge(df_geral[['Tipo_PF_PJ', 'CPF_CNPJ']], on='CPF_CNPJ').drop_duplicates().reset_index(drop=True)
df_cnpjs_unicos=df_cnpjs_unicos[df_cnpjs_unicos['Tipo_PF_PJ']!='-']
df_cnpjs_unicos=df_cnpjs_unicos[~df_cnpjs_unicos['CPF_CNPJ'].isnull()]
df_cnpjs_unicos['PK']=lista_primary_key
df_cnpjs_unicos['CNPJ BÁSICO']=df_cnpjs_unicos['CPF_CNPJ'].apply(lambda x: CNPJ_BASICO(x))
df_cnpjs_unicos['CNPJ DV']=df_cnpjs_unicos['CPF_CNPJ'].apply(lambda x: CNPJ_DV(x))
df_cnpjs_unicos=df_cnpjs_unicos.merge(df_cnpj_completo[['CORREIO ELETRÔNICO','NOME FANTASIA','MATRIZ/FILIAL','INÍCIO ATIVIDADE','PAIS','NOME DA CIDADE EX','CNPJ BÁSICO','CNPJ DV','Telefones','CNAE FISCAL PRINCIPAL','CNAE FISCAL SEC']], on=['CNPJ BÁSICO','CNPJ DV'], how='left')
df_cnpjs_unicos=df_cnpjs_unicos.merge(df_cnpj, on='CNPJ BÁSICO', how='left')
df_cnpjs_unicos['FK_METADADOS']='DDCNPJ'
df_cnpjs_unicos=df_cnpjs_unicos.drop_duplicates()
df_cnpjs_unicos.to_pickle('dados_tabela/df_cnpjs_unicos.pickle')
df_cnpjs_unicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18618 entries, 0 to 18617
Data columns (total 21 columns):
CPF_CNPJ                 18618 non-null object
Tipo_PF_PJ               18618 non-null object
PK                       18618 non-null object
CNPJ BÁSICO              16005 non-null float64
CNPJ DV                  16005 non-null float64
CORREIO ELETRÔNICO       15939 non-null object
NOME FANTASIA            15939 non-null object
MATRIZ/FILIAL            15939 non-null float64
INÍCIO ATIVIDADE         15939 non-null float64
PAIS                     15939 non-null float64
NOME DA CIDADE EX        15939 non-null object
Telefones                15939 non-null object
CNAE FISCAL PRINCIPAL    15939 non-null float64
CNAE FISCAL SEC          15939 non-null object
RAZÃO SOCIAL             15975 non-null object
NATUREZA JURÍDICA        15975 non-null float64
RESPONSÁVEL              15975 non-null float64
CAPITAL SOCIAL           15975 non-null object
PORTE DA EMPRESA         15975 non-null float64
ENTE FEDERATIVO          115 non-null object
FK_METADADOS             18618 non-null object
dtypes: float64(9), object(12)
memory usage: 3.1+ MB

In [41]:
lista_primary_key=[]
cont=0
for x in range(166):
    x=str(cont)+'subg'
    lista_primary_key.append(x)
    cont+=1
df_subgrupo=pd.read_pickle('df_subgrupos.pickle')
df_subgrupo2=df_subgrupo[['Subgrupo']]
df_subgrupo2=df_subgrupo2.drop_duplicates().reset_index(drop=True)
df_subgrupo2['PK']=lista_primary_key
df_subgrupo2.to_pickle('dados_tabela/df_subgrupo_unicos.pickle')
df_subgrupo2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 2 columns):
Subgrupo    166 non-null object
PK          166 non-null object
dtypes: object(2)
memory usage: 2.7+ KB

In [42]:
#muda
df_subgrupo2=df_subgrupo2.rename({'PK':'FK_SUBGRUPO'}, axis=1)
#SUBSTANCIAS
lista_primary_key=[]
cont=0
for x in range(813):
    x=str(cont)+'subs'
    lista_primary_key.append(x)
    cont+=1
df_substancia=pd.DataFrame([])
df_substancia['Substância']=list(df_subgrupo['Substância'].unique())
df_substancia=df_substancia.sort_values('Substância').reset_index(drop=True)
df_substancia['PK']=lista_primary_key
df_substancia=df_substancia.merge(df_subgrupo, on='Substância')
df_substancia=df_substancia.merge(df_subgrupo2, on='Subgrupo')
df_substancia=df_substancia.drop('Subgrupo', axis=1)
df_subgrupo2=df_subgrupo2.rename({'FK_SUBGRUPO':'PK'}, axis=1)
df_substancia.to_pickle('dados_tabela/df_substancia.pickle')
df_substancia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 833
Data columns (total 3 columns):
Substância     834 non-null object
PK             834 non-null object
FK_SUBGRUPO    834 non-null object
dtypes: object(3)
memory usage: 26.1+ KB

In [43]:
#muda
df_cnpjs_unicos=df_cnpjs_unicos.rename({'PK':'FK_CNPJ'}, axis=1)
df_substancia=df_substancia.rename({'PK':'FK_SUBSTANCIA'}, axis=1)
#CFEM GERAL MENSAL
lista_primary_key=[]
cont=0
for x in range(1583686):
    x=str(cont)+'cf'
    lista_primary_key.append(x)
    cont+=1
len(lista_primary_key)
df_cfem=pd.DataFrame([])
df_cfem['CFEM_MENSAL']=list(df_geral['ValorRecolhido'])
df_cfem['CPF_CNPJ']=list(df_geral['CPF_CNPJ'])
df_cfem['Substância']=list(df_geral['Substância'])
df_cfem['Ano']=list(df_geral['Ano'])
df_cfem['Mês']=list(df_geral['Mês'])
df_cfem['UF']=list(df_geral['UF'])
df_cfem['CFEM_MENSAL']=df_cfem['CFEM_MENSAL'].apply(lambda x: float(x.replace('.','').replace(',','.')))
df_cfem['PK']=lista_primary_key
df_cfem['FK_METADADOS']='DDCFEM'
df_cfem=df_cfem.merge(df_cnpjs_unicos[['FK_CNPJ', 'CPF_CNPJ']], on='CPF_CNPJ', how='left')
df_cfem=df_cfem.merge(df_substancia[['FK_SUBSTANCIA', 'Substância']], on='Substância', how='left')
df_cfem=df_cfem.drop(['CPF_CNPJ','Substância'], axis=1)
df_cfem=df_cfem.drop_duplicates()
df_cfem=df_cfem.reset_index(drop=True)
df_cfem.to_pickle('dados_tabela/df_cfem_mensal.pickle')
df_cnpjs_unicos=df_cnpjs_unicos.rename({'FK_CNPJ':'PK'})
df_substancia=df_substancia.rename({'FK_SUBSTANCIA':'PK'}, axis=1)
df_cfem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583686 entries, 0 to 1583685
Data columns (total 8 columns):
CFEM_MENSAL      1583686 non-null float64
Ano              1583686 non-null int64
Mês              1583686 non-null int64
UF               1582134 non-null object
PK               1583686 non-null object
FK_METADADOS     1583686 non-null object
FK_CNPJ          1583570 non-null object
FK_SUBSTANCIA    1583682 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 96.7+ MB

In [44]:
#CFEM GERAL MENSAL
lista_primary_key=[]
cont=1
for x in range(12):
    x=cont
    lista_primary_key.append(x)
    cont+=1
len(lista_primary_key)
df_meses=pd.DataFrame([])
df_meses['PK']=lista_primary_key
lista_meses=['JANEIRO', 'FEVEREIRO','MARÇO','ABRIL','MAIO','JUNHO','JULHO','AGOSTO','SETEMBRO','OUTUBRO','NOVEMBRO','DEZEMBRO']
df_meses['Meses']=lista_meses
df_meses.to_pickle('dados_tabela/df_meses.pickle')
df_meses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
PK       12 non-null int64
Meses    12 non-null object
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

In [45]:
#REGIÃO, ESTADO, UF
df_regiao=pd.read_pickle('dados_tabela/df_estados_siglas.pickle')
df_regiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
UF         27 non-null object
Estados    27 non-null object
Região     27 non-null object
dtypes: object(3)
memory usage: 776.0+ bytes

In [46]:
df_nome_fantasia=df_cnpj_completo[['CNPJ BÁSICO','CNPJ DV','NOME FANTASIA']]
df_nome_fantasia=df_nome_fantasia[df_nome_fantasia['NOME FANTASIA']!=0]
df_nome_fantasia=df_nome_fantasia.drop_duplicates().reset_index(drop=True)
df_nome_fantasia.to_pickle('dados_tabela/df_nome_fantasia.pickle')
df_nome_fantasia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19753 entries, 0 to 19752
Data columns (total 3 columns):
CNPJ BÁSICO      19753 non-null int64
CNPJ DV          19753 non-null int64
NOME FANTASIA    19753 non-null object
dtypes: int64(2), object(1)
memory usage: 463.1+ KB

In [ ]:
df_cnpj_completo.to_pickle('dados_tabela/df_dados_cnpj_endereco.pickle')
df_cnpj_completo.info()

In [47]:
#PORTE DA EMPRESA
lista_porte=['MICRO EMPRESA','EMPRESA DE PEQUENO','MEDIO/GRANDE']
lista_pk=[1,3,5]
df_porte=pd.DataFrame([])
df_porte['PORTE DA EMPRESA']=lista_pk
df_porte['DESCRICAO']=lista_porte
df_porte.to_pickle('dados_tabela/df_porte.pickle')
df_porte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
PORTE DA EMPRESA    3 non-null int64
DESCRICAO           3 non-null object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [48]:
df_municipio=pd.read_pickle('dados_tabela/df_municipio_table.pickle')
df_municipio

      PK_COD_MUNICIPIO           MUNICIPIO
0                 6681             MARILIA
1                 4451         DOM JOAQUIM
2                 2893               JAIBA
3                 4555          GRAO MOGOL
4                 4123      BELO HORIZONTE
...                ...                 ...
3797              7049  SANTA RITA D'OESTE
3798               816              QUADRA
3799              1050     ABADIA DE GOIAS
3800              2841            PIRANHAS
3801              1178           FIGUEIRAO

[3802 rows x 2 columns]

In [49]:
df_diccnae=pd.read_csv('../F.K03200$Z.D10510.CNAECSV', sep=';', names=['PK_CNAE','CNAE'],encoding = "ISO-8859-1")
df_cnae=pd.DataFrame()
df_cnae2=pd.DataFrame()
df_cnae['PK_CNAE']=list(df_cnpj_completo['CNAE FISCAL PRINCIPAL'].unique())
df_cnae['Tipo']='CNAE_PRINCIPAL'
df_cnae2['PK_CNAE']=list(df_cnpj_completo['CNAE FISCAL SEC'].unique())
lista_secund=[]
for x in df_cnae2['PK_CNAE']:
    try:
        a=x.split(',')
    except:
        a=x
    try:
        lista_secund.extend(a)
    except:
        lista_secund.append(a)
len(lista_secund)
df_cnae2=pd.DataFrame()
df_cnae2['PK_CNAE']=lista_secund
df_cnae2['Tipo']='CNAE_SEC'
df_cnae2=df_cnae2[df_cnae2['PK_CNAE']!=0]
df_cnae2=df_cnae2.drop_duplicates().reset_index(drop=True)
df_cnae_f=pd.concat([df_cnae,df_cnae2])
df_cnae_f['PK_CNAE']=df_cnae_f['PK_CNAE'].astype('int')
df_cnae_f=df_cnae_f.merge(df_diccnae, on='PK_CNAE')
df_cnae_f.to_pickle('dados_tabela/df_cnae_table.pickle')
df_cnae_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1681 entries, 0 to 1680
Data columns (total 3 columns):
PK_CNAE    1681 non-null int32
Tipo       1681 non-null object
CNAE       1681 non-null object
dtypes: int32(1), object(2)
memory usage: 46.0+ KB

In [50]:
df_dicNatureza=pd.read_csv('../F.K03200$Z.D10510.NATJUCSV', sep=';', names=['PK_COD_NAT_JURI','NAT_JURI'],encoding = "ISO-8859-1")
df_nat_juri=pd.DataFrame()
df_nat_juri['PK_COD_NAT_JURI']=list(df_cnpj['NATUREZA JURÍDICA'].unique())
df_nat_juri=df_nat_juri.merge(df_dicNatureza, on='PK_COD_NAT_JURI')
df_nat_juri.to_pickle('dados_tabela/df_nat_juri_table.pickle')
df_nat_juri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 2 columns):
PK_COD_NAT_JURI    27 non-null int64
NAT_JURI           27 non-null object
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

In [51]:
df_dicResp=pd.read_csv('../F.K03200$Z.D10510.QUALSCSV', sep=';', names=['PK_COD_RESPONSAVEL','RESPONSAVEL'],encoding = "ISO-8859-1")
df_responsavel=pd.DataFrame()
df_responsavel['PK_COD_RESPONSAVEL']=list(df_cnpj['RESPONSÁVEL'].unique())
df_responsavel=df_responsavel.merge(df_dicResp, on='PK_COD_RESPONSAVEL')
df_responsavel.to_pickle('dados_tabela/df_responsavel_table.pickle')
df_responsavel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 2 columns):
PK_COD_RESPONSAVEL    14 non-null int64
RESPONSAVEL           14 non-null object
dtypes: int64(1), object(1)
memory usage: 336.0+ bytes

In [52]:
df_cfem_anos=pd.read_pickle('arrecadacao_cfem.pickle')
df_cfem_anos['Ano']=df_cfem_anos['Ano'].astype('int')
df_cfem_anos.to_pickle('dados_tabela/df_cfem_anos.pickle')
df_cfem_anos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
Geral    14 non-null object
Ano      14 non-null int32
CFEM     14 non-null object
dtypes: int32(1), object(2)
memory usage: 408.0+ bytes

In [53]:
df_cfem_estados=pd.read_pickle('df_estados_cfem.pickle')
df_cfem_estados=df_cfem_estados[~df_cfem_estados['Estado'].str.contains('Total')].sort_values('Ano')
df_cfem_estados['Ano']=df_cfem_estados['Ano'].astype('int')
df_cfem_estados=df_cfem_estados[df_cfem_estados['Total']!='Total.']
df_cfem_estados['Total2']=df_cfem_estados['Total'].apply(lambda x: float(x.replace('.','').replace(',','.')))
df_cfem_estados.to_pickle('dados_tabela/df_cfem_estados.pickle')
df_cfem_estados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 391 to 17
Data columns (total 16 columns):
Estado    378 non-null object
jan       378 non-null object
fev       378 non-null object
mar       378 non-null object
abr       378 non-null object
mai       378 non-null object
jun       378 non-null object
jul       378 non-null object
ago       378 non-null object
set       378 non-null object
out       378 non-null object
nov       378 non-null object
dez       378 non-null object
Total     378 non-null object
Ano       378 non-null int32
Total2    378 non-null float64
dtypes: float64(1), int32(1), object(14)
memory usage: 48.7+ KB

In [54]:
df_cfem_municipio=pd.read_pickle('df_municipios_cfem.pickles')
df_cfem_municipio=df_cfem_municipio[~df_cfem_municipio['Estado'].str.contains('Total')]
df_cfem_municipio=df_cfem_municipio.rename({'Municipio':'UF','Estado':'Municipio'},axis=1)
df_cfem_municipio['Ano']=df_cfem_municipio['Ano'].astype('int')
df_cfem_municipio=df_cfem_municipio[df_cfem_municipio['Total']!='Total.']
df_cfem_municipio['Total2']=df_cfem_municipio['Total'].apply(lambda x: float(x.replace('.','').replace(',','.')))
df_cfem_municipio.to_pickle('dados_tabela/df_cfem_municipio.pickle')
df_cfem_municipio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33172 entries, 33166 to 19492
Data columns (total 17 columns):
Municipio    33172 non-null object
jan          33172 non-null object
fev          33172 non-null object
mar          33172 non-null object
abr          33172 non-null object
mai          33172 non-null object
jun          33172 non-null object
jul          33172 non-null object
ago          33172 non-null object
set          33172 non-null object
out          33172 non-null object
nov          33172 non-null object
dez          33172 non-null object
Total        33172 non-null object
Ano          33172 non-null int32
UF           33172 non-null object
Total2       33172 non-null float64
dtypes: float64(1), int32(1), object(15)
memory usage: 4.4+ MB

In [ ]:
df_cnae_f.nunique()

In [ ]:
df_cnpjs_unicos.nunique()

In [ ]:
df_cfem_estados[df_cfem_estados['Total'].str.contains('Total')]

In [31]:
df_dicMunicipio.sort_values('MUNICIPIO')

NameError: name 'df_dicMunicipio' is not defined

In [32]:
df_operacao_valores['Município']=df_operacao_valores['Município'].apply(lambda x: acentuacao(x))
df_operacao_valores.sort_values('Município')

,PK,Operacao,FK_METADADOS,Ano,FK_CNPJ,FK_SUBSTANCIA,UF,Município
81787,76968op,875326.66,DDOP,2014,608pfpj,39subs,MG,ABADIA DOS DOURADOS
146452,139674op,281138.52,DDOP,2021,17855pfpj,39subs,MG,ABADIA DOS DOURADOS
18727,16327op,0.00,DDOP,2015,14521pfpj,61subs,MG,ABADIA DOS DOURADOS
7112,6556op,55735.00,DDOP,2004,4277pfpj,234subs,MG,ABADIA DOS DOURADOS
7111,6556op,55735.00,DDOP,2004,4277pfpj,234subs,MG,ABADIA DOS DOURADOS
...,...,...,...,...,...,...,...,...
102919,97598op,168158.63,DDOP,2015,16pfpj,39subs,SP,ZACARIAS
102895,97574op,28383.30,DDOP,2008,16pfpj,39subs,SP,ZACARIAS
112819,107255op,803664.78,DDOP,2017,1732pfpj,39subs,SP,ZACARIAS
148574,141789op,444181.35,DDOP,2015,13466pfpj,61subs,MA,ZE DOCA
148573,141788op,93622.99,DDOP,2014,13466pfpj,61subs,MA,ZE DOCA

In [56]:
df_operacao_valores['Município']=df_operacao_valores['Município'].apply(lambda x: x.upper())
set(list(df_operacao_valores['Município']))-set(list(df_dicMunicipio['MUNICIPIO']))

{'ABAIARA',
 'ABAIRA',
 'ABDON BATISTA',
 'ACREUNA',
 'ACU',
 'AGUA FRIA DE GOIAS',
 'AGUA LIMPA',
 'AGUANIL',
 'AGUIAR',
 'ALAGOINHA',
 'ALCANTARAS',
 'ALPESTRE',
 'ALTINHO',
 'ALTO ALEGRE',
 'AMAJARI',
 'AMORINOPOLIS',
 'ANAPU',
 'ANGELANDIA',
 'ANGICAL DO PIAUI',
 'ANTONIO JOAO',
 'APIACAS',
 'ARABUTA',
 'ARAGOMINAS',
 'ARAIOSES',
 'ARANDU',
 'ARAPOEMA',
 'ARAPONGA',
 'ARCO-IRIS',
 'AREIA',
 'ARENOPOLIS',
 'ARES',
 'AROAZES',
 'ARRAIAL DO CABO',
 'ASSAI',
 'BACURITUBA',
 'BALNEARIO PICARRAS',
 'BARAO',
 'BARAO DE ANTONINA',
 'BARRA DE SANTANA',
 'BARRACAO',
 'BARREIRINHA',
 'BARREIRINHAS',
 'BELA VISTA DO MARANHAO',
 'BELA VISTA DO TOLDO',
 'BELEM DO BREJO DO CRUZ',
 'BELTERRA',
 'BENJAMIN CONSTANT',
 'BETANIA',
 'BIRITIBA MIRIM',
 'BOA VENTURA',
 'BOA VISTA DAS MISSOES',
 'BOCA DA MATA',
 'BOM JARDIM DA SERRA',
 'BOM JESUS DE GOIAS',
 'BOM PRINCIPIO DO PIAUI',
 'BONFINOPOLIS DE MINAS',
 'BOQUEIRAO DO LEAO',
 'BORACEIA',
 'BORBA',
 'BOTUPORA',
 'BRANQUINHA',
 'BRAZABRANTES',
 'BRAZOPOLIS',
 'BREJO GRANDE DO ARAGUAIA',
 'BREJOLANDIA',
 'BRODOWSKI',
 'BUJARU',
 'BURITIRAMA',
 'CAAPIRANGA',
 'CABACEIRAS',
 'CACIMBA DE AREIA',
 'CACIMBINHAS',
 'CACIQUE DOBLE',
 'CAEM',
 'CAETES',
 'CAICARA',
 'CAICARA DO NORTE',
 'CAJUEIRO',
 'CAJURI',
 'CAMPINA DO SIMAO',
 'CAMPOS ALTOS',
 'CANAPI',
 'CANAVIEIRA',
 'CANDIDO RODRIGUES',
 'CANUDOS DO VALE',
 'CAPAO DO CIPO',
 'CAPIM',
 'CAPIM BRANCO',
 'CAPISTRANO',
 'CAPOEIRAS',
 'CAPUTIRA',
 'CARAPEBUS',
 'CAREIRO DA VARZEA',
 'CARMO DO RIO VERDE',
 'CASSIA DOS COQUEIROS',
 'CATIGUA',
 'CATUNDA',
 'CATURAI',
 'CELSO RAMOS',
 'CENTRAL DE MINAS',
 'CERQUEIRA CESAR',
 'CERRO CORA',
 'CHORO',
 'COLONIA DO PIAUI',
 'CONCEICAO DO ALMEIDA',
 'CONSELHEIRO MAIRINCK',
 'CORDEIRO',
 'CORONEL DOMINGOS SOARES',
 'CORREGO DO BOM JESUS',
 'CORREGO DO OURO',
 'COSMORAMA',
 'CRAIBAS',
 'CRISTAL DO SUL',
 'CRUZEIRO DO OESTE',
 'CURRAL DE CIMA',
 'CURRAL NOVO DO PIAUI',
 'CUSTODIA',
 'DESCANSO',
 "DIAMANTE D'OESTE",
 'DIOGO DE VASCONCELOS',
 'DIVISA NOVA',
 'DOM CAVATI',
 'DOMINGOS MOURAO',
 'DORES DO TURVO',
 'ELDORADO DO CARAJAS',
 'ELISIARIO',
 'ENGENHEIRO BELTRAO',
 'ERNESTINA',
 'ERVAL VELHO',
 'ESTRELA DE ALAGOAS',
 'ESTRELA VELHA',
 'FAMA',
 'FEIRA GRANDE',
 'FERVEDOURO',
 "FIGUEIROPOLIS D'OESTE",
 'FLORA RICA',
 'FLORINEA',
 'FREI LAGONEGRO',
 'FREI MARTINHO',
 'GALIA',
 'GALINHOS',
 'GETULINA',
 'GOIANORTE',
 'GOIOXIM',
 'GOVERNADOR JORGE TEIXEIRA',
 'GRACHO CARDOSO',
 'GRAMADO DOS LOUREIROS',
 'GUAIRACA',
 'IBARETAMA',
 'IBICUI',
 'IBIPEBA',
 'IBIRAPITANGA',
 'IBIRAREMA',
 'IEPE',
 'IGACI',
 'ILHABELA',
 'INACIOLANDIA',
 'INGA',
 'IPECAETA',
 'IPIXUNA',
 'IRAJUBA',
 'ITAGIBA',
 'ITAGUARI',
 'ITAJU',
 'ITAMARATI',
 'ITAMARI',
 'ITAPIRAPUA',
 'ITATIRA',
 'ITATUBA',
 'ITAUBA',
 'IVORA',
 'JABORA',
 'JABOTI',
 'JACARAU',
 'JAPARATINGA',
 'JAPORA',
 'JOIA',
 'JUAREZ TAVORA',
 'JULIO MESQUITA',
 'JUTAI',
 'JUTI',
 'LAGOA DE PEDRAS',
 'LAGOAO',
 'LAJEADO GRANDE',
 'LAPAO',
 'LAURENTINO',
 'LEOPOLIS',
 'MACHADINHO',
 'MACIEIRA',
 'MAJOR ISIDORO',
 'MANCIO LIMA',
 'MARCELINO RAMOS',
 'MARIOPOLIS',
 'MARIZOPOLIS',
 'MARTINOPOLIS',
 'MAUA DA SERRA',
 'MERUOCA',
 'MIRAIMA',
 'MOEDA',
 'MOGEIRO',
 'MOGI GUACU',
 'MONTE CARLO',
 'MONTE DO CARMO',
 'MORAUJO',
 'MORMACO',
 'MORRINHOS DO SUL',
 'MORRO REDONDO',
 'MUANA',
 'MUITOS CAPOES',
 'MUQUEM DO SAO FRANCISCO',
 'NOVA ALVORADA',
 'NOVA AURORA',
 'NOVA CRUZ',
 'NOVA ERECHIM',
 'NOVA EUROPA',
 'NOVA GUARITA',
 'NOVA IORQUE',
 'NOVA TEBAS',
 'NOVO BRASIL',
 'NOVO LINO',
 'NOVO MUNDO',
 'NOVO ORIENTE',
 'OLINDA NOVA DO MARANHAO',
 'OURO VERDE DE GOIAS',
 'PAIAL',
 'PAINEL',
 'PALMEIRA DO PIAUI',
 'PANELAS',
 'PARAIBANO',
 'PARARI',
 'PARICONHA',
 'PASSA VINTE',
 'PASSAGEM FRANCA DO PIAUI',
 'PASSIRA',
 'PAUINI',
 'PAULO FRONTIN',
 'PECANHA',
 'PEDRO GOMES',
 'PERITIBA',
 "PEROLA D'OESTE",
 'PESCADOR',
 'PINDARE-MIRIM',
 'PINHAL',
 'PIRES FERREIRA',
 'PIRITIBA',
 'PONTAL DO ARAGUAIA',
 'PORTEIRAS',
 'PORTO BARREIRO',
 'PRANCHITA',
 'PUXINANA',
 'QUATA',
 'QUEBRANGULO',
 'REDENCAO DA SERRA',
 'RELVADO',
 'RERIUTABA',
 'RIACHO DAS ALMAS',
 'RIBEIRA DO PIAUI',
 'RIBEIRAOZINHO',
 'RIO BRANCO DO IVAI',
 'RIO DO FOGO',
 'RIO DO PRADO',
 'RIVERSUL',
 'ROMELANDIA',
 'SAGRES',
 'SALGADO DE SAO FELIX',
 'SALITRE',
 'SALOA',
 "SANT'ANA DO LIVRAMENTO",
 'SANTA CECILIA DO SUL',
 'SANTA ISABEL DO RIO NEGRO',
 'SANTA IZABEL DO PARA',
 'SANTA TEREZA',
 'SANTA TEREZA DE GOIAS',
 'SANTANA DE MANGUEIRA',
 'SANTO ANTONIO DA ALEGRIA',
 'SANTO ANTONIO DAS MISSOES',
 'SANTO ANTONIO DO RIO ABAIXO',
 'SAO BENTO DO UNA',
 'SAO FRANCISCO DO GUAPORE',
 'SAO FRANCISCO DO PARA',
 'SAO JOAO DA LAGOA',
 'SAO JOAO DE IRACEMA',
 'SAO JOAO DO CARIRI',
 'SAO JOAO DO OESTE',
 "SAO JOAO DO PAU D'ALHO",
 'SAO JOAQUIM',
 'SAO JOSE DO POVO',
 'SAO JOSE DO SABUGI',
 'SAO LUIZ DO NORTE',
 'SAO MIGUEL DO ANTA',
 'SAO PAULO DE OLIVENCA',
 'SAO PEDRO DA CIPA',
 'SAO PEDRO DE ALCANTARA',
 'SAO PEDRO DO SUACUI',
 'SAO SEBASTIAO DA AMOREIRA',
 'SAO SEBASTIAO DO RIO PRETO',
 'SAO VALERIO',
 'SAO VENDELINO',
 'SAPEACU',
 'SEBASTIAO LARANJEIRAS',
 'SEGREDO',
 'SENADOR CORTES',
 'SERRANOS',
 'SERRARIA',
 'SERTANEJA',
 'SOSSEGO',
 'SOUTO SOARES',
 'SUL BRASIL',
 'TACARATU',
 'TALISMA',
 'TAQUARAL',
 'TAQUARAL DE GOIAS',
 'TAQUARUCU DO SUL',
 'TAQUARUSSU',
 'TARTARUGALZINHO',
 'TAVARES',
 'TEJUPA',
 'THEOBROMA',
 'TIMBO GRANDE',
 'TOCOS DO MOJI',
 'TOUROS',
 'TRAIRAO',
 'TRAIRI',
 'TRES FORQUILHAS',
 'TRINDADE DO SUL',
 'UBAPORANGA',
 'UBIRAJARA',
 'UMBUZEIRO',
 'UMIRIM',
 'UNIAO DO OESTE',
 'URUANA',
 'URUBICI',
 'URUCUCA',
 'VALE DE SAO DOMINGOS',
 'VALE DO ANARI',
 'VARJAO',
 'VARRE-SAI',
 'VERTENTES',
 'VICENTE DUTRA',
 'VICENTINA',
 'VICENTINOPOLIS',
 'VILA LANGARO',
 'VIRGOLANDIA',
 'VIRMOND',
 'VOLTA GRANDE',
 'XAMBRE',
 'ZACARIAS'}

In [ ]:
df_muni=pd.read_pickle

In [34]:
'''MUQUEM DO SAO FRANCISCO'
df_integra=pd.DataFrame()
df_integra['PK_COD_MUNICIPIO']=[1720499]
df_integra['MUNICIPIO']=["SAO VALERIO"]
df_integra
df_dicMunicipio=pd.concat([df_dicMunicipio,df_integra],ignore_index=True)
df_dicMunicipio=df_dicMunicipio.drop_duplicates()
df_dicMunicipio'''

'MUQUEM DO SAO FRANCISCO\'\ndf_integra=pd.DataFrame()\ndf_integra[\'PK_COD_MUNICIPIO\']=[1720499]\ndf_integra[\'MUNICIPIO\']=["SAO VALERIO"]\ndf_integra\ndf_dicMunicipio=pd.concat([df_dicMunicipio,df_integra],ignore_index=True)\ndf_dicMunicipio=df_dicMunicipio.drop_duplicates()\ndf_dicMunicipio'