In [1]:
from pymongo import MongoClient
import pandas as pd

In [58]:
def acentuacao(x):
    from unicodedata import normalize
    source = x
    try:
        target = normalize('NFKD', source).encode('ASCII','ignore').decode('ASCII').upper()
    except:
        target=source
    return(target)

def telefones(col1, col2, col3, col4, col5, col6):
    try:
        if col1==0:
            a=''
        else:
            a="("+str(int(col1))+") "+str(int(col2))
    except:
        a="("+str(int(col1))+") "+str((col2))
    try:
        if col3==0:
            b=''
        else:
            b="("+str(int(col3))+") "+str(int(col4))
    except:
        b="("+str(int(col3))+") "+str((col4))
    try:
        if col5==0:
            c=''
        else:
            c="("+str(int(col5))+") "+str(int(col6))
    except:
        c="("+str(int(col5))+") "+str((col6))
    return(a+'/'+b+'/'+c)

In [3]:
df_cnpj_geral=pd.read_csv(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\CFEM_Arrecadacao.csv',sep=';',encoding = "ISO-8859-1")
df_cnpj_geral['Substância']=df_cnpj_geral['Substância'].apply(lambda x: acentuacao(x))
df_cnpj_geral['Município']=df_cnpj_geral['Município'].apply(lambda x: acentuacao(x))
df_cnpj_geral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583686 entries, 0 to 1583685
Data columns (total 12 columns):
Ano                         1583686 non-null int64
Mês                         1583686 non-null int64
Processo                    1478466 non-null float64
AnoDoProcesso               1478466 non-null float64
Tipo_PF_PJ                  1583686 non-null object
CPF_CNPJ                    1583600 non-null object
Substância                  1583686 non-null object
UF                          1582134 non-null object
Município                   1582134 non-null object
QuantidadeComercializada    1568646 non-null object
UnidadeDeMedida             1582981 non-null object
ValorRecolhido              1583686 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 145.0+ MB

In [51]:
#Dados CNPJ Basico
df_cnpj=pd.read_pickle(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\Notebook\razão_social_cnpjs_busca_25_5_21.pickle')
df_cnpj['RAZÃO SOCIAL']=df_cnpj['RAZÃO SOCIAL'].apply(lambda x: acentuacao(x))
df_cnpj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15099 entries, 319 to 2634327
Data columns (total 7 columns):
CNPJ BÁSICO          15099 non-null int64
RAZÃO SOCIAL         15099 non-null object
NATUREZA JURÍDICA    15099 non-null int64
RESPONSÁVEL          15099 non-null int64
CAPITAL SOCIAL       15099 non-null object
PORTE DA EMPRESA     15099 non-null float64
ENTE FEDERATIVO      114 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 943.7+ KB

In [66]:
#Dados CNPJ Completos
df_cnpj_completo=pd.read_pickle(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\Notebook\dados_completos_cnpjs_b_25_5_21.pickle')
df_cnpj_completo=df_cnpj_completo.fillna(0)
df_cnpj_completo['Telefones']=df_cnpj_completo.apply(lambda x: telefones(x['DDD 1'], x['TELEFONE 1'], x['DDD 2'], x['TELEFONE 2'], x['DDD DO FAX'], x['FAX']), axis=1)
df_cnpj_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43526 entries, 17487 to 4208979
Data columns (total 31 columns):
CNPJ BÁSICO                  43526 non-null int64
CNPJ ORDEM                   43526 non-null int64
CNPJ DV                      43526 non-null int64
MATRIZ/FILIAL                43526 non-null int64
NOME FANTASIA                43526 non-null object
SITUAÇÃO CADASTRAL           43526 non-null int64
DATA SITUAÇÃO                43526 non-null int64
SITUAÇÃO_CADASTRA            43526 non-null int64
NOME DA CIDADE EX            43526 non-null object
PAIS                         43526 non-null float64
INÍCIO ATIVIDADE             43526 non-null int64
CNAE FISCAL PRINCIPAL        43526 non-null int64
CNAE FISCAL SEC              43526 non-null object
TIPO DE LOGRADOURO           43526 non-null object
LOGRADOURO                   43526 non-null object
NÚMERO                       43526 non-null object
COMPLEMENTO                  43526 non-null object
BAIRRO                       43526 non-null object
CEP                          43526 non-null object
UF                           43526 non-null object
MUNICÍPIO                    43526 non-null int64
DDD 1                        43526 non-null object
TELEFONE 1                   43526 non-null object
DDD 2                        43526 non-null float64
TELEFONE 2                   43526 non-null object
DDD DO FAX                   43526 non-null object
FAX                          43526 non-null object
CORREIO ELETRÔNICO           43526 non-null object
SITUAÇÃO ESPECIAL            43526 non-null object
DATA DA SITUAÇÃO ESPECIAL    43526 non-null float64
Telefones                    43526 non-null object
dtypes: float64(3), int64(10), object(18)
memory usage: 10.6+ MB

In [41]:
#Dados da Operação
df_operacao=pd.read_pickle(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\Notebook\df_operacao_atual_25_5_21_nomes_corretos.pickle')
df_operacao['Substância']=df_operacao['Substância'].apply(lambda x: acentuacao(x))
df_operacao['Subgrupo']=df_operacao['Subgrupo'].apply(lambda x: acentuacao(x))
df_operacao['Região']=df_operacao['Região'].apply(lambda x: acentuacao(x))
df_operacao['Município']=df_operacao['Município'].apply(lambda x: acentuacao(x))
df_operacao['Estados']=df_operacao['Estados'].apply(lambda x: acentuacao(x))
df_operacao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143489 entries, 0 to 143488
Data columns (total 17 columns):
% Recolhimento_CFEM    143489 non-null object
Ano                    143489 non-null int64
CNPJ/CPF               143489 non-null object
CPF_CNPJ               143489 non-null object
Estados                143489 non-null object
Município              143489 non-null object
Nome Empresa           143489 non-null object
Operacao               143489 non-null object
Recolhimento_CFEM      143489 non-null object
Região                 143489 non-null object
Subgrupo               143489 non-null object
Substância             143489 non-null object
Tipo_PF_PJ             143489 non-null object
UF                     143489 non-null object
ValorRecolhido2        125853 non-null float64
ValorRecolhido3        125853 non-null object
nome_correto           143489 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 19.7+ MB

In [76]:
#cfem municipio
df_cfem_municipio=pd.read_pickle(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\Notebook\dados_tabela\df_cfem_municipio.pickle')
df_cfem_municipio['Municipio']=df_cfem_municipio['Municipio'].apply(lambda x: acentuacao(x))
df_cfem_municipio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33172 entries, 33166 to 19492
Data columns (total 17 columns):
Municipio    33172 non-null object
jan          33172 non-null object
fev          33172 non-null object
mar          33172 non-null object
abr          33172 non-null object
mai          33172 non-null object
jun          33172 non-null object
jul          33172 non-null object
ago          33172 non-null object
set          33172 non-null object
out          33172 non-null object
nov          33172 non-null object
dez          33172 non-null object
Total        33172 non-null object
Ano          33172 non-null int32
UF           33172 non-null object
Total2       33172 non-null float64
dtypes: float64(1), int32(1), object(15)
memory usage: 4.4+ MB

In [4]:
client = MongoClient('mongodb://localhost:27017/')

In [5]:
client.list_database_names()

['admin', 'cfem', 'config', 'local']

In [6]:
db=client["cfem"]

In [7]:
db.list_collection_names()

['cnpj_completo', 'empresas', 'operacao', 'cnpj_basico']

In [8]:
cnpjs = db["empresas"]

In [9]:
cnpjs.count_documents({})

1583686

In [17]:
cnpj=list(df_cnpj_geral['CPF_CNPJ'].sample(1))[0]
cnpjs.distinct({"cnpj":cnpj})

TypeError: key must be an instance of str

In [31]:
cnpjs.distinct("municipio",{"cnpj": cnpj})

[nan, 'AVELINOPOLIS', 'FLORESTA', 'IPORA', 'ITABIRA', 'SANTA BARBARA DE GOIAS']

In [38]:
len(cnpjs.distinct("cnpj",{"substancia": 'AREIA'}))

6507

In [47]:
lista_json=[]
cont=0
for index, row in df_operacao.iterrows():
    if cont%10000==0:
        print(cont)
    operacao.insert_one({"cnpj":row['CPF_CNPJ'],"ano":row['Ano'],"cfem_percent":row['% Recolhimento_CFEM'],"tipo_pj_pf":row['Tipo_PF_PJ'],"substancia":row['Substância'],"uf":row['UF'],"municipio":row['Município'],"estado":row['Estados'],"regiao":row['Região'],"valor_cfem":row['Recolhimento_CFEM'],"nome_empresa":row['nome_correto'],"operacao":row['Operacao'],"subgrupo":row['Subgrupo'],"valor_cfem":row['Recolhimento_CFEM']})
    cont+=1

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000

In [48]:
operacao = db["operacao"]
operacao.count_documents({})

143489

In [55]:
cnpj_basico = db["cnpj_basico"]
cnpj_basico.count_documents({})

15099

In [53]:
df_cnpj.columns

Index(['CNPJ BÁSICO', 'RAZÃO SOCIAL', 'NATUREZA JURÍDICA', 'RESPONSÁVEL',
       'CAPITAL SOCIAL', 'PORTE DA EMPRESA', 'ENTE FEDERATIVO'],
      dtype='object')

In [54]:
lista_json=[]
cont=0
for index, row in df_cnpj.iterrows():
    if cont%10000==0:
        print(cont)
    cnpj_basico.insert_one({"cnpj_basico":row['CNPJ BÁSICO'],"razao_social":row['RAZÃO SOCIAL'],"nat_juridica":row['NATUREZA JURÍDICA'],"responsavel":row['RESPONSÁVEL'],"capital_social":row['CAPITAL SOCIAL'],"porte_empresa":row['PORTE DA EMPRESA']})
    cont+=1

0
10000

In [71]:
cnpj_completo = db["cnpj_completo"]
cnpj_completo.count_documents({})

43526

In [68]:
df_cnpj_completo.columns

Index(['CNPJ BÁSICO', 'CNPJ ORDEM', 'CNPJ DV', 'MATRIZ/FILIAL',
       'NOME FANTASIA', 'SITUAÇÃO CADASTRAL', 'DATA SITUAÇÃO',
       'SITUAÇÃO_CADASTRA', 'NOME DA CIDADE EX', 'PAIS', 'INÍCIO ATIVIDADE',
       'CNAE FISCAL PRINCIPAL', 'CNAE FISCAL SEC', 'TIPO DE LOGRADOURO',
       'LOGRADOURO', 'NÚMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP', 'UF',
       'MUNICÍPIO', 'DDD 1', 'TELEFONE 1', 'DDD 2', 'TELEFONE 2', 'DDD DO FAX',
       'FAX', 'CORREIO ELETRÔNICO', 'SITUAÇÃO ESPECIAL',
       'DATA DA SITUAÇÃO ESPECIAL', 'Telefones'],
      dtype='object')

In [70]:
lista_json=[]
cont=0
for index, row in df_cnpj_completo.iterrows():
    if cont%10000==0:
        print(cont)
    cnpj_completo.insert_one({"cnpj_basico":row['CNPJ BÁSICO'],"cnpj_ordem":row['CNPJ ORDEM'],"cnpj_dv":row['CNPJ DV'],"matriz_filial":row['MATRIZ/FILIAL'],"nome_fantasia":row['NOME FANTASIA'],"cnae_principal":row['CNAE FISCAL PRINCIPAL'],"cnae_secundario":row['CNAE FISCAL SEC'],"tipo_logradouro":row['TIPO DE LOGRADOURO'],"logradouro":row['LOGRADOURO'],"numero":row['NÚMERO'],"complemento":row['COMPLEMENTO'],"bairro":row['BAIRRO'],"cep":row['CEP'],"uf":row['UF'],"municipio":row['MUNICÍPIO'],"telefone":row['Telefones'],"email":row['CORREIO ELETRÔNICO']})
    cont+=1

0
10000
20000
30000
40000

In [69]:
df_cnpj_completo

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO,SITUAÇÃO_CADASTRA,NOME DA CIDADE EX,PAIS,...,DDD 1,TELEFONE 1,DDD 2,TELEFONE 2,DDD DO FAX,FAX,CORREIO ELETRÔNICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL,Telefones
17487,13665029,2,15,2,0,2,20200929,0,0,0.0,...,35,3.45218e+07,0.0,0,0,0,CONTABILCAREASSU@UOL.COM.BR,0,0.0,(35) 34521842//
19873,34808462,1,51,1,MINERACAO VMC EIRELI,2,20190909,0,0,0.0,...,27,9.8585e+07,0.0,0,0,0,MARCUS.CHASE@GMAIL.COM,0,0.0,(27) 98584972//
32793,33592510,165,81,2,CENTRAL FOTOVOLTAICA SOL DO CERRADO III,2,20201013,0,0,0.0,...,31,3.91635e+07,0.0,0,0,0,MERCES.BEDRAN@VALE.COM,0,0.0,(31) 39163453//
34885,31023302,17,76,2,0,2,20200115,0,0,0.0,...,27,3.75689e+07,27.0,3.75657e+07,0,0,CONTABILIDADE@THORGRANITOS.COM.BR,0,0.0,(27) 37568938/(27) 37565696/
36828,17185786,35,0,2,0,2,20201015,0,0,0.0,...,31,3.49036e+07,0.0,0,0,0,SETORFISCAL@CBMSA.COM.BR,0,0.0,(31) 34903600//
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515306,63878,3,38,2,GRANOBRAS EUCALIPTO,2,20100929,0,0,0.0,...,62,9.99441e+07,0.0,0,0,0,0,0,0.0,(62) 99944137//
3615611,74569,55,94,2,0,2,20161201,0,0,0.0,...,16,4.00922e+07,0.0,0,0,0,CESAR.JESUS@KOANDINA.COM,0,0.0,(16) 40092216//
3655976,1474,2,39,2,0,2,20170214,0,0,0.0,...,15,3.56516e+07,0.0,0,15,3.56516e+07,CV_LTDA@HOTMAIL.COM,0,0.0,(15) 35651630//(15) 35651630
3787979,61493,5,1,2,0,8,20210217,1,0,0.0,...,51,3.06655e+07,0.0,0,0,0,PAULO@CONTACOMRS.COM.BR,0,0.0,(51) 30665454//
4208979,74569,60,51,2,0,2,20190408,0,0,0.0,...,21,2.42917e+07,0.0,0,0,0,0,0,0.0,(21) 24291700//

In [74]:
#investigar dados
df_invest=pd.read_pickle(r'C:\Users\vanes\Documents\projeto MIM\BeautifulSoup\Projeto IMP\Base de Dados\Notebook\dados_tabela\df_cfem_municipio.pickle')
df_invest

,Municipio,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez,Total,Ano,UF,Total2
33166,***,,,,,,,,,,,,"260,79","260,79",2008,RS,260.79
24830,***,,,,,,,,,"128,16",,,,"128,16",2012,RS,128.16
31183,***,"203,36",,,,"36,75","11,51","17,00","25,08","14,88",,,,"308,58",2009,RS,308.58
23585,ABADIA DE GOIÁS,,,"490,77",,,,,,,,,,"490,77",2012,GO,490.77
18683,ABADIA DE GOIÁS,,,,,"120,70",,,,,,,,"120,70",2014,GO,120.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7924,ÉRICO CARDOSO,"340,00","340,00","340,00","340,00","340,00",,,,,,"6.213,33",,"7.913,33",2018,BA,7913.33
108,ÉRICO CARDOSO,"1.747,60","2.019,20","4.027,92","5.328,22",,,,,,,,,"13.122,94",2021,BA,13122.94
18404,ÉRICO CARDOSO,"340,00","340,00","340,00","340,00","340,00","340,00","340,00","340,00","340,00","340,00","340,00","340,00","4.080,00",2014,BA,4080.00
2609,ÉRICO CARDOSO,"2.592,45","2.747,21","3.300,51","2.631,59","312,75","380,86","494,97","2.950,19","1.942,85","3.003,84","3.830,98","3.018,31","27.206,51",2020,BA,27206.51
19492,ÓBIDOS,,,,,,,,"858,30",,,,,"858,30",2014,PA,858.30